{% extends 'jat/base.html' %}

{% block title %}
Home
{% endblock title %}

{% block style %}
<script type="text/javascript">
    let img = new Image(); 
    img.src = "https://images.unsplash.com/photo-1543187018-21e461e7538e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80"; // background image picture by: https://unsplash.com/@ross_savchyn
</script>
<style>
    body {
    background-image: url("https://images.unsplash.com/photo-1543187018-21e461e7538e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"); /* picture by: https://unsplash.com/@ross_savchyn */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
{% endblock style %}

{% block content %}
<div id="app">
    <h1>Log In</h1>
    {% comment %} log in form {% endcomment %}
    <form action="{% url 'log_in' %}" method="POST" class="form-style">
        {% csrf_token %}
        <div class="mb-3">
            <h3>Username:{{ form.username }}</h3>
        </div>
        <div class="mb-3">
            <h3>Password:{{ form.password }}</h3>
        </div>
        <input type="submit" value="Login" class="btn btn-dark">
    </form>
</div>
{% endblock content %}